@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Anket Portalıma Hoşgeldiniz</a>.</p>
</div>
