@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="card-header"><h3>Kayıt Ol</h3></div>
                                    </div>
                                    <form class="user">
                                        <div class="mb-2">
                                            <input type="text" class="form-control form-control-user"
                                                   id="txtFullName" aria-describedby="emailHelp"
                                                   placeholder="Adı Soyadı">
                                        </div>
                                        <div class="mb-2">
                                            <input type="email" class="form-control form-control-user"
                                                   id="txtEmail" aria-describedby="emailHelp"
                                                   placeholder="E-Posta Adresi">
                                        </div>
                                        <div class="mb-2">
                                            <input type="text" class="form-control form-control-user"
                                                   id="txtUserName" aria-describedby="emailHelp"
                                                   placeholder="Kullanıcı Adı">
                                        </div>
                                        <div class="mb-2">
                                            <input type="password" class="form-control form-control-user"
                                                   id="txtPassword" placeholder="Parola">
                                        </div>
                                        <div class="mb-2">
                                            <input type="password" class="form-control form-control-user"
                                                   id="txtPasswordConfirm" placeholder="Parola Tekrar">
                                        </div>

                                        <a class="btn btn-primary btn-user btn-block" id="btnRegister">
                                            Kayıt Ol
                                        </a>

                                    </form>

                                    <div id="divResult"></div>
                                    @*  <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    @section Scripts{
        <script>
            $(document).ready(function () {
                var ApiBaseUrl = "@ViewBag.ApiBaseUrl";
                $("#btnRegister").click(function () {

                    var username = $("#txtUserName").val();
                    var password = $("#txtPassword").val();
                    var fullname = $("#txtFullName").val();
                    var passwordConfirm = $("#txtPasswordConfirm").val();
                    var email = $("#txtEmail").val();

                    if (username == "" || password == "" || fullname == "" || email == "" || passwordConfirm == "") {
                        $("#divResult")
                            .show()
                            .removeClass()
                            .addClass("alert alert-danger")
                            .html("Tüm Alanları Doldurunuz!")
                            .fadeOut(5000);
                        return false;
                    }
                    var register = new Object();
                    register.UserName = username;
                    register.Password = password;
                    register.FullName = fullname;
                    register.PasswordConfirm = passwordConfirm;
                    register.Email = email;

                    $.ajax({
                        url: ApiBaseUrl + "User/Add",
                        method: "POST",
                        data: JSON.stringify(register),
                        contentType: "application/json",
                        success: function (data) {
                            if (data.status) {
                                location.href = "/Login";
                            } else {
                                $("#divResult")
                                    .show()
                                    .removeClass()
                                    .addClass("alert alert-danger")
                                    .html(data.message)
                                    .fadeOut(10000);
                            }
                        },
                        error: function (e) {
                            console.log(e);
                        }
                    });
                });

            });
        </script>
    }
    
</body>

</html>