
@{
    ViewData["Title"] = "AdminAnswers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Cevaplayanları Göster</h1>
<table class="table table-borderless table-hover" id="tbAnswerList">
    <thead>
        <tr>
            <th>Kullanıcı ID</th>
            <th>Soru ID</th>
            <th>Cevap</th>
            <th>Tarih</th>
        </tr>
    </thead>
</table>
